
  @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

  p{
    color: rgb(243, 242, 245);
    font-family:Nova Square;

  }
  body{
    /*Ruta de la imagen*/
    background-image: url('../assets/imgs/Gtr.jpg');
    /*Cubrir todo el fondo con la imagen cover*/
    background-size: cover;
    /*evitar que se repita*/
    background-repeat: no-repeat;
    /*Imagen Fija*/
    background-attachment: fixed;
    
  }

  /*KeyFrames*/
  @keyframes moverImagen{
    from{
        transform: translateX(-100);
    }
    to{
        transform: translateX(850%);
    }
  }

  #miCochecito{
    width:150px;
    height:100px;
    background-image: url('../assets/imgs/veneno.jpg');
    background-size: cover;
    animation: moverImagen 4s linear infinite;

  }